* {
    box-sizing: border-box;
}

body {
  background-color:white;
  margin: 0;
}

.allview {
  min-height: calc(100vh - 50px);   /* 50px is height of footer */
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #000000;
    top: 0;
    width: 100%;
    z-index: 1;
    color: white;
}

/* Style the topnav links */
.topnav li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* Style the content */

body {
  font-family: "휴먼모음T"
}

footer {
  background-color: silver;
  padding: 10px;
  text-align: center;
  height: cover;
  color: black;
}