* {
    box-sizing: border-box;
}

body {
  background-color:white;
  /*margin: 0;*/
}

.allview {
  min-height: calc(100vh - 100px);   /* 100px is height of footer */
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
    color: black;
}

body {
  font-family: "Hanna";
  color: white;
  background-image: url(../images/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

footer {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  height: 100px;
  color: black;
}

#home,#events,#gov,#news,#rules {
  height: cover;
  padding-top: 70px;
}

.heading {
  text-decoration: underline;
}
